

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body{
	background: url('bg.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.wrapper{
	position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 600px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;

}

.searchbtn {
    background: #336274;
    width: 13%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 18px;
}
#toplist {
    background-color:rgba(0, 0, 0,0.6);
    position: absolute;
    width: 100%;
}

#toplist a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}
.toplist-right{
    float:right;
}


#toplist a:hover {
    background-color: #ddd;
    color: black;
}
  
#borderi {
    border-image-slice: 20;
    border-image-width: 10px;
  }
.picwrap1{
    position: absolute;
    top: 50%;
    left: 23%;

}
.picwrap2{
    position: absolute;
    top: 50%;
    left: 40%;

}
.picwrap3{
    position: absolute;
    top: 50%;
    left: 60%;

}
img {
    border: 5px solid #555;
  }
